@import url("https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap");
@import "bootstrap/dist/css/bootstrap.min.css";

* {
  /* margin: 0; */
  font-family: "Viaoda Libre";
  color: #000000;
}

.header {
  padding: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  max-width: auto;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  block: padding 0.5rem;
  border-radius: 0.5rem;
}

.content,
.form {
  display: flex-auto;
  align-items: center;
  max-width: 720px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f5deb3;
  border-radius: 0.5rem;
}

main#classic {
  background-color: #e0ffff;
  border-radius: 0.5rem;
}
aside#cart {
  border-color: black; 
}
.text-right {
  text-align: right;
}

.sundae-list {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: auto;
  background-color: #e0ffff;
  border-radius: 0.6rem;
}

h1.sundaeList {
  text-align: center;
  margin-top: 20px;
}
h1.main-title {
  font-size: 80px;
  color: #000000;
  margin: auto;
}
h2.sub-title {
  color: #000000;
  margin: auto;
  padding-left: 200px; 
}

.cart-empty {
  text-align: right;
}

/* aside,
main {
  max-width: 720px;
  border-radius: 0.5rem;
} */

/* @media (max-width: 768px) {
  .btn-responsive {
    padding: 2px 4px;
    font-size: 80%;
    line-height: 1;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding: 4px 9px;
    font-size: 90%;
    line-height: 1.2;
  }
} */
h3 {
  display: inline-block;
  margin-right: 10px;
}

select.form-select {
  width: 100%;
  /* padding: 16px 20px; */
  border: none;
  background-color: white;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

Button {
  background-color: #f5deb3 !important;
  border-color: #f5deb3 !important;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

html,
div#root {
  background-color: #ffe4e1;
}

/* .custom-order {
  color: #87ceeb;
} */
h1.custom-order {
  text-align: center;
  color: black;
  padding-top: 20px;
}
Button#custom-order {
  text-align: center;
  margin: auto;
  display: flex;
  color: black;
  font-size: 25px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}
.card {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  max-width: auto;
  margin: 0.5em;
  text-align: center;
}
Button.checkout-btn {
  margin: auto;
  color: black;
  font-size: 25px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}
Button.card {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  max-width: auto;
  font-size: 18px;
  margin: 0.4em;
  float: right;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}
h3.sundae-name {
  text-align: center;
  float: center;
}
/* img.sundae-image {
  width: 100%;
} */
.sundae-content {
  padding-top: 18px;
}
h5.footer {
  display: flex;
  background-color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  width: 100%;
  border: none;

  justify-content: center;
  align-items: center;
}
footer-container {
  text-align: center;
}
